body {
    background-color: #e1e1db;
}

$base-font-color: #444;
$base-font-size: 1.25em;

.sandbox {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    color: $base-font-color;
    width: 90%;
    font-size: $base-font-size;

    &__galerry {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        overflow-y: auto;

        &-list {}

        &-search {}

        &-item {
            padding: 10px;
            /* mind the gap */
            margin-top: 1em;
        }
    }

    &__playground {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }

    &__view {}

    &__info {
        // display: flex;
        // flex-wrap: wrap;
        // flex-direction: row;
        // justify-content: left;
    }

    &__algo-description,
    &__algo-log,
    &__common-log {}

    &__btn {}

    &__toolbox {
        // display: flex;
        // flex-wrap: wrap;
        // flex-direction: row;
        // justify-content: left;
    }
}