body {
    background-color: #e1e1db;
}

.sandbox {
    display: flex;
    height: 98vh;
}

.sandbox__gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 20%;
}

.sandbox__gallery-search {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.sandbox__playground {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    padding: 1rem;
}

.sandbox__info {
    display: flex;
    justify-content: stretch;
}

.sandbox__toolbox {
    display: flex;
}

.sandbox__btn-send-issue {
    margin-left: auto;
}