//Just use this site https://www.sassmeister.com/ for convert to css

body {
    background-color: #e1e1db;
}

$base-font-color: #444;
$base-font-size: 1.25em;

.sandbox {
    display: flex;
    height: 98vh;

    &__gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 20%;

        &-search {
            padding-top: 1rem;
            padding-bottom: 0.5rem;
        }
    }

    &__playground {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        width: 80%;
        padding: 1rem;
    }

    &__view {
        align-self: center;
    }

    &__info {
        display: flex;
        justify-content: stretch;
    }

    &__algo-description,
    &__algo-log,
    &__common-log {}

    &__btn-send-issue {
        margin-left: auto;
    }

    &__toolbox {
        display: flex;
    }
}


.game-map {

    &__wall,
    &__path {
        width: 10px;
        height: 10px;
    }

    &__wall {
        border: 1px solid black;
        background-color: black;
    }

    &__path {
        border: 1px solid white;
        background-color: white;
    }
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    width: 10px;
    height: 10px;
}