body {
    background-color: #e1e1db;
    display: flex;
    height: 100vh;
  }
  
  .mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
    position: relative;
  }
  
  .main-content {
    overflow: auto;
    height: 100%;
  }
  
  .app-bar {
    position: absolute;
  }
  
  // only apply this style if below top app bar
  .mdc-top-app-bar {
    z-index: 7;
  }
  /* .sandbox {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    color: #444;
    width: 90%;
    font-size: 1.25em;
  }
  .sandbox__galerry {
    overflow-y: scroll;
    overflow: hidden;
  }
  .sandbox__list {
    overflow-y: scroll;
  }

  .sandbox__galerry-item {
    padding: 10px;
    /* mind the gap */
    margin-top: 1em;
  }
  .sandbox__playground {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  } */